<ifmodule mod_rewrite.c>
         RewriteEngine on 
         RewriteRule ^$ public/index.php
         RewriteRule ^m/v/p/(.+)/(.+)/(.+)/(.+)$ application/presenter/controller/Index.php?/$1/$2/$3
         RewriteRule ^m/v/p/(.+)/(.+)/(.+)$ application/presenter/controller/Index.php?/$1/$2
         RewriteRule ^m/v/p/(.+)/(.+)$ application/presenter/controller/Index.php?/$1
</ifmodule>