<ifmodule mod_rewrite.c>
         RewriteEngine on 
         RewriteRule ^$ public/index.php
         RewriteRule ^m/v/p/(.+)/(.+)/(.+)/(.+)$ application/presenter/controller/$1.php?/$2/$3/$4
         RewriteRule ^m/v/p/(.+)/(.+)/(.+)$ application/presenter/controller/$1.php?/$2/$3
         RewriteRule ^m/v/p/(.+)/(.+)$ application/presenter/controller/$1.php?/$2
</ifmodule>