<ifmodule mod_rewrite.c>
RewriteEngine on 
RewriteRule ^$ public/index.php
RewriteRule ^m/v/p/index/(.+)/(.+)/(.+)$ application/presenter/controller/index.php/$1/$2/?$3
RewriteRule ^m/v/p/index/(.+)/(.+)$ application/presenter/controller/index.php/$1/?$2
RewriteRule ^m/v/p/index/(.+)$ application/presenter/controller/index.php/$1
RewriteRule ^href/(.+)/(.+)$  ?href=$1&$2
RewriteRule ^href/(.+)$  ?href=$1
</ifmodule>